@model IEnumerable<KourseWork.Models.Запись>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Перезаписи)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Фрагменты)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Что_записывается)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Сопр_инструменты)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Битрейт)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Перезаписи)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Фрагменты)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Что_записывается)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Сопр_инструменты)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Битрейт)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Код_услуги }) |
            @Html.ActionLink("Details", "Details", new { id=item.Код_услуги }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Код_услуги })
        </td>
    </tr>
}

</table>
