@model KourseWork.Models.Песни

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Песни</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Название_песни)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Название_песни)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Битрейт)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Битрейт)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Длина)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Длина)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Сопр_инструменты)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Сопр_инструменты)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Альбомы.Название_альбома)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Альбомы.Название_альбома)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
