@{
    ViewBag.Title = "Home Page";
}

<div>
    @Html.ActionLink("Альбомы", "Index", "Альбомы")
</div>
<div>
    @Html.ActionLink("Аранжировка", "Index", "Аранжировка")
</div>
<div>
    @Html.ActionLink("Выполнение_услуги", "Index", "Выполнение_услуги")
</div>
<div>
    @Html.ActionLink("Исполнитель", "Index", "Исполнитель")
</div>
<div>
    @Html.ActionLink("Договоры", "Index", "Договоры")
</div>
<div>
    @Html.ActionLink("Запись", "Index", "Запись")
</div>
<div>
    @Html.ActionLink("Исполнитель", "Index", "ИСполнитель")
</div>
<div>
    @Html.ActionLink("Перечень_услуг", "Index", "Перечень_услуг")
</div>
<div>
    @Html.ActionLink("Песни", "Index", "Песни")
</div>
<div>
    @Html.ActionLink("Сведение", "Index", "Сведение")
</div>
<div>
    @Html.ActionLink("Сотрудники", "Index", "Сотрудники")
</div>

